@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@layer base {
	:root {
		--background-color: rgb(30 33 64);
		--dark-background-color: rgb(23 25 48);
		--line-color: rgb(250 110 109);
		--text-color: rgb(211 220 248);
		--shadow-color: rgb(37 41 78);
		--my-gray: rgb(238 241 250);
		/*max is 1465*/
		--line-value: 1000;
		--font-Roboto: "Roboto", sans-serif;
		--font-Raleway: "Raleway", sans-serif;
		--font-MsMadi: "Ms Madi", cursive;
	}

	.blue-theme {
		--line-color: rgb(116 240 248);
	}

	.pink-theme {
		--line-color: rgb(217 130 247);
	}

	#stroke3 {
		stroke-linecap: round;
		stroke: var(--line-color);
		stroke-dasharray: var(--line-value) 2000;
		stroke-width: 20px;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
}
